{% extends "base.html" %}
{% block title %}トップページ{% endblock %}
{% block main %}
  <div id="slide-area">
    <img class="slide-photo" src="../static/images/img1.png" alt="ファイルを選択">
    <img class="slide-photo" src="../static/images/img2.png" alt="コードを貼り付け">
    <img class="slide-photo" src="../static/images/img3.png" alt="CSVファイルを保存">
    <img class="slide-photo" src="../static/images/img4.png" alt="軽くデータを確認">
    <img class="slide-photo" src="../static/images/img5.png" alt="データの先頭行">
    <img class="slide-photo" src="../static/images/img6.png" alt="タグ数のヒストグラム">
  </div>
{% endblock %}
